<div class="div_fundo">
  <form action="/" method="POST">

    {{#each  posts}}
    
    <p class="motra_banco2">{{id}}</p>
    <p class="mostra_rela"><strong>Cliente:</strong></p>
    <p class="motra_banco">{{nome_cliente}}</p>
    <p class="mostra_rela"><strong>Endereço:</strong></p>
    <p class="motra_banco">{{endereco}}</p>
    <p class="mostra_rela"><strong>Comp.Endereço:</strong></p>
    <p class="motra_banco">{{comple_endereco}}</p>
    <p class="mostra_rela"><strong>Quantidade:</strong></p>
    <p class="motra_banco">{{quantidade }}</p>
    <p class="mostra_rela"><strong>Lanche:</strong></p>
    <p class="motra_banco">{{lanche}}</p>
 
    {{/each}}
  </form>
</div>                       <!--  Esse arquivo puxa a relação de dados que tem no banco de dados
                                   e mostrar na referencia de url ("relatorio") todos esses dados em ordem
                              -->